body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 16px;
}

thead th {
    background-color: #a94442;
    color: white;
    padding: 10px;
    border: 1px solid #333;
}

tbody td {
    border: 1px solid #333;
    text-align: center;
    padding: 10px;
}

tbody tr:nth-child(1) {
    background-color: #f2baba;
}

tbody tr:nth-child(2) {
    background-color: #f7d6d6;
}

tbody tr:nth-child(3) {
    background-color: #d3d3d3;
}
